# debian 10 (buster)
iptables: "/usr/sbin/iptables-legacy"

domain: "yourdomain.com"

# important: hosts file should be located in /tmp
# to have it deleted in case of reboot to start from scratch
hosts-db: "/tmp/logwatch-hosts.json"

notification:
  send: False
  message: '/tmp/notification'
  email-to: 'info@someprovider.com'

api:
  url: "https://your-api-server/hosts/"
  key: "even-better-secret-key"

directives:
  mail-auth:
    log: "/var/log/mail.log"
    pattern: ".*warning:.*\\[.*\\]: SASL.*authentication failed:.*failure"
    limit: 3

  mail-recipient:
    log: "/var/log/mail.info"
    pattern: "^.*Recipient address rejected: User unknown in local recipient table.*$"
    limit: 5

  mail-relay:
    log: "/var/log/mail.info"
    pattern: "^.*Relay access denied;.*$"
    limit: 3

  ssh-auth:
    log: "/var/log/auth.log"
    pattern: "^.*Failed password for (?!invalid).*$"
    limit: 3
